 {% extends "index.html" %}

  {% block page %} -Booking {% endblock %}
  {% block heading %}
    {{ super() }}
  {% endblock %}


{% block content %}
 
  <h3> Available Rooms </h3>
  <p> 
  {% for n in data %}
  <div>
  Room Number : {{n[0]}} <br>
  Size (sq ft) : {{n[1]}} <br>
  Price per Night: {{n[2]}} <br>
  </div>
  <br>
  {% endfor %}
  </p>

  <h5> Unavailable Dates </h5>
  {% for n in data2 %}
  <div>
  Room Number : {{n[0]}} <br>
  Check-in Date : {{n[1]}} <br>
  Check-out Date: {{n[2]}} <br>
  </div>
  <br>
  {% endfor %}
  </p>
 
  <h3> Enter Your Information </h3>
  <p>  
  <form method = "POST" action="/addbooking">
    room number: <input type = "text" name = "room"> <br>
    check-in date: <input type = "date" name = "check-in"> <br>
    check-out date: <input type = "date" name= "check-out"> <br>
    customer ID: <input type = "text" name = "id"> <br>
    <input type = "submit" value = "Book">
  </form>
  </p>

  <h5> Enter Travel Companion's Information (optional) </h5>
  <p>
  <form method = "POST" action="/addcompanion">
    companion id : <input type = "text" name = "id"> <br>
    relationship : <input type = "text" name = "relation"> <br>
    year of birth: <input type = "text" name = "yob"> <br>
    name: <input type = "text" name ="name"> <br>
    gender(M/F): <input type = "text" name = "gender"> <br>
    customer_id : <input type = "text" name = "cust_id"> <br>
    <input type = "submit" value = "Add Guest">
  </form>  
  </p>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}


