{% extends "index.html" %}

  {% block page %} -Hotel Information {% endblock %}
  {% block heading %} 
	{{ super() }}
  {% endblock %}


{% block content %}
  <h3> Click Buttons to Book</h3>
<p>
  <div>
  {% for n in data %}
   {{n[1]}}
   <form method = "POST" action={{url_for('book')}}> 
   <input type="submit" name="hotel" value = "{{n[0]}}">
   </form>
   <ul>
     <li> number of rooms : {{n[2]}} </li>
     <li> number of stars: {{n[3]}} </li>
     <li> founded: {{n[5]}} </li>
   </ul> 
  {% endfor %}
  </divi>
</p>

  <h3> Tourist Attractions in City </h3>
<p>
  {% for n in data2 %}
  <div> {{n[0]}} (price: {{n[1]}} ) <br>
   </div>
  {% endfor %}
</p> 

  <h4> Total Transportation Service </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> FROM </th>
      <th scope="col"> PRICE </th>
      <th scope="col"> TO </th>
      <th scope="col"> PRICE</th>
      <th scope="col"> TRANSPORATION</th>
      <th scope="col"> TRAN PRICE</th>
    </tr>
  </thead>
  <tbody>
  {% for n in data3 %}
  <tr>
  <td> {{n[2]}}</td> 
  <td> (${{n[3]}}) </td>
  <td> {{n[0]}} </td>
  <td> (${{n[1]}}) </td> 
  <td> {{n[4]}} </td>
  <td> (${{n[5]}}) </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

  <h3> Visit Other Places </h3> 
{% block footer %}
  {{super()}}
{% endblock %}
