{% extends "index.html" %}

  {% block page %} -Hotel Information {% endblock %}
  {% block heading %} 
	{{ super() }}
  {% endblock %}


{% block content %}
  <h3> Click Buttons to Book</h3>
<p>
  <div>
  {% for n in data %}
   {{n[1]}}
   <form method = "POST" action={{url_for('book')}}> 
   <input type="submit" name="hotel" value = "{{n[0]}}">
   </form>
   <ul>
     <li> number of rooms : {{n[2]}} </li>
     <li> number of stars: {{n[3]}} </li>
     <li> founded: {{n[5]}} </li>
   </ul> 
   </divi>
  {% endfor %}
</p>

  <h3> Tourist Attraction in City </h3>
<p>
  {% for n in data2 %}
  <div> {{n[0]}} (price: {{n[1]}} ) <br>
  Transportation Option:  </div>
  {% endfor %}
</p> 

{% endblock %}

{% block footer %}
  {{super()}}
{% endblock %}
