<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  {% block heading %}
    <h1> Search For Hotels{% block page %}{% endblock %}</h1>
  {% endblock %}

  <p><a href="register"> Register </a></p>
  <p><a href="login"> Login to View Your Booking History </a></p>

  {% block content %}
    <form method="POST" action={{url_for('hotelinfo')}}>
      <p>Where are you travelling to? <br> <input type="text" name="city"> <input type="submit" value="Search"></p>

     </form>
    <p> Options: <br> New York (NY) <br> Laguna Beach (CA) <br> Bryan (TX) <br>
      San Luis Obispo (CA) <br> Dana Point (CA) <br> The Woodlands (TX) <br> Orlando (FL)
      <br> Kissimmee (FL) <br> Las Vegas (NV) </p>
  {% endblock %}

  <div class = "footer">
    {% block footer %}
      <p><a href=""> Go back to Home Page </a></p>
    {% endblock %}
  </div>

</body>

</html>
