<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Search for Hotels!</h1>

<p><a href="register"> If you are not a member, register to book a hotel! </a></p>
<p><a href="login"> Log in to view your past reservations and recommendations </a></p>

<form method="POST" action={{url_for('hotelinfo')}}>
<p>Where are you travelling to? <br> <input type="text" name="city"> <input type="submit" value="Search"></p>

</form>

  <p> Options: <br> New York (NY) <br> Laguna Beach (CA) <br> Bryan (TX) <br>
      San Luis Obispo (CA) <br> Dana Point (CA) <br> The Woodlands (TX) <br> Orlando (FL)
      <br> Kissimmee (FL) <br> Las Vegas (NV) </p>

  
</body>


</html>
