{% extends "index.html" %}

  {% block page %} -Booking History {% endblock %}
  {% block heading %}
    {{ super() }}
  {% endblock %}

{% block content %}
  <h3> Your Booking History </h3>
<p>
  <div>
  {% for n in data %}
    {{n[1]}} in {{n[0]}} <br>
    Room Number: {{n[2]}} <br>
    Check-in Date: {{n[3]}} <br>
    Check-out Date: {{n[4]}}   
  {% endfor %}
  </divi>
</p>

<p>
RECOMMENDATIONS FOR YOU
  {% for n in data2 %}
  <div>
  <ul>
    <li>
    {{n[0]}} (City: {{n[1]}}  Number of Stars: {{n[2]}})
    </li>
  </ul>
  </divi>
  {% endfor %}
</p>
{% endblock %}

{% block footer %}
  {{ super()}}
{% endblock %}
