{% extends "index.html" %}


  {% block page %} -Register Form {% endblock %}
  {% block heading %}
	{{ super() }}
  {% endblock %}

{% block content %}

<p>
<form method="POST" action="/add">
    ID: <input type="text" name="id"> <br> 
    Year of Birth: <input type="text" name="year_of_birth"> <br>
    Name: <input type="text" name="name"> <br>
    Email : <input type="email" name="email"> <br> 
    Gender(M/F): <input type="text" name="gender"> <br>
    <input type="submit" value="register"> 
</form>
</p>

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}


</html>
