<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Register Form</h1>


<form method="POST" action="/add">
<p>
    ID: <input type="text" name="id"> <br> 
    Year of Birth: <input type="text" name="year_of_birth"> <br>
    Name: <input type="text" name="name"> <br>
    Email : <input type="email" name="email"> <br> 
    Gender(M/F): <input type="email" name="gender"> <br>
    <input type="submit" value="register"> 
</p>
</form>

<p><a href="/">Go to Home Page</a></p>  
</body>


</html>
